<%-include('./includes/header.ejs')%>
</head>

<body>
    <%-include('./includes/navbar.ejs')%>
    <br>
    <div class="container">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, ad. Nostrum alias error architecto, ea animi molestias perspiciatis, officiis enim, doloribus earum explicabo deserunt vitae fugiat beatae voluptates aliquid aut?
    </div>

    <%-include('./includes/footer.ejs')%>